<div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4  order-first order-md-2">
        <div class="text-center"><span class="page-title"><a href="/"><%= site_title %></a></span></div>
      </div>
      <div class="col-md-4  order-first order-md-2"></div>
    </div>
  </div>