<% for (var n=0; n<returnObjects.length; n++) { %>
  <tr>
    <td><p class="text-danger text-monospace table-noMarginBottom">L:<%= returnObjects[n].lev_value %></p></td>
    <td><%= returnObjects[n].acronym %></td>
    <td><%= returnObjects[n].text %></td>
  </tr>
<% } %>
