<div class="container">
  <div class="row">
    <div class="col-md-12"><h5><span class="text-monospace"><%= space %></span> (all <%= ACRONYMS_JSON.length %>)</h5></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tbody id="tableBodyContent">
 
          <% for (var n=0; n<ACRONYMS_JSON.length; n++) { %>
            <tr>
              <td><%= ACRONYMS_JSON[n].acronym %><a name="<%= ACRONYMS_JSON[n].acronym %>"></a></td>
              <td><%= ACRONYMS_JSON[n].text %></td>
              <td><a href="https://<%= APP_DOMAIN %>/n?space_query=<%= space %>#<%= ACRONYMS_JSON[n].acronym %>">link</a></td>
            </tr>
          <% } %>

        </tbody>
      </table>
    </div>
  </div>
</div>
