<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/basic_header %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Editing <span class="text-monospace"><%= space_name %></span></h1>
          <p>This is your private page to edit/publish.  Bookmark but don't share!</p>
          <p>Share this link for people to view: <a href="<%= space_link %>"><%= space_link %></a></p>
          <div id="csvEditWarningDiv" style="display: none;" class="alert alert-warning" role="alert">
            <span id="csvEditWarningDiv_msg"></span>: 
            <strong id="csvEditWarningDiv_line" class="text-monospace"></strong>
          </div>
          <div id="csvEditSuccessDiv" style="display: none;" class="alert alert-success" role="alert">
            <span id="csvEditSuccessDiv_msg"></span>
          </div>
          <form>
            <div class="form-group">
              <textarea class="form-control" type="text" id="csvFormInputSpace" name="csvFormInputSpace" placeholder="ABC,alpha bravo charlie&#10;etc." rows="8"><%= textfield_csv %></textarea>
              <small class="form-text text-muted">Example: "ABC,alpha bravo charlie"</small>
              <div class="invalid-feedback">Please provide your acronyms, in CSV format!</div>
            </div>
            <button id="editSpaceSubmit" class="btn btn-primary" type="submit">Publish</button>
          </form>
        </div>
      </div>
    </div>

  </body>
  <% include partials/script %>
  <script>var secret_hash = "<%= secret_hash %>";</script>
  <script>var space_name = "<%= space_name %>";</script>
  <script src="https://acro-lev-static-assets.s3.amazonaws.com/prod/javascripts/edit_space.js"></script>
</html>
