<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="text-center">
            <h1>Acronym Ninja</h1>
            <h6>Publish and maintain your acronym set, like a ninja.</h6>
          </div>
          <% if(locals.message && locals.message.warning){ %>
            <div class="alert alert-warning" role="alert">Hmm, we couldn't find that space: <strong><%=message.warning%></strong></div>
          <% } %>
          <% if(locals.message && locals.message.success){ %>
            <div class="alert alert-success" role="alert"><%=message.success%></div>
          <% } %>
          <h4 class="margintop65 text-center">Find a Space (a set of acronyms)</h4>
          <div class="d-flex justify-content-center">
            <form class="form-inline" method="GET" action="/">
              <div class="form-group">
                <input name="space_query" type="text" class="form-control" placeholder="what space?" aria-describedby="sizing-addon1">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-dark">Go</button>
              </div>
            </form>
          </div>
          <div class="text-center">
            <p>(Or view <a href="/n?space_query=demo_nasa">demo_nasa</a> or <a href="/n?space_query=demo_mlb">demo_mlb</a>)</p>
          </div>

          <h4 class="margintop65 text-center">Make a Space</h4>
          <h6 class="text-center">Get started <a href="/new_space">here</a>, add your set of acronyms.</h6>

          <h4 class="margintop65 text-center">Why</h4>
          <ul>
            <li>There are 3.14 billion acronyms on the Internet, it's easier when your organization's acronyms are in their own space</li>
            <li>We do some analytics for you</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <% include partials/script %>
  <script>
    // This page should not have query params persist
    var uri = window.location.href.toString();
    if (uri.indexOf("?") > 0) {
        var clean_uri = uri.substring(0, uri.indexOf("?"));
        window.history.replaceState({}, document.title, clean_uri);
    }
  </script>
</html>
