<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/basic_header %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Create Acronym Space</h1>
          <h5>You will receive your own secret link, and can then upload and publish</h5>
          <% if(locals.message){ %>
            <div class="alert alert-warning" role="alert">Hmm: <strong><%=message.warning%></strong></div>
          <% } %>

          <form class="needs-validation" novalidate method="POST" action="/new_space">
            <div class="form-group">
              <input id="emailFormInputSpace" type="text" class="form-control" name="email" placeholder="you@who.me" value="<%= typeof email == 'undefined' ? '' : email %>" required>
              <div class="invalid-feedback">
                Please provide valid email!
              </div>
            </div>
            <div class="form-group">
              <label for="spaceFormInputSpace">Desired Acronym Space</label>
              <input id="spaceFormInputSpace" type="text" class="form-control" name="space_name" placeholder="ex: Evil Corp floor 3 acronyms" value="<%= typeof space_name == 'undefined' ? '' : space_name %>" required>
              <div class="invalid-feedback">
                Please provide what your want your space to be named!
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>

        </div>
      </div>
    </div>

  </body>
  <% include partials/script %>
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
</html>
