<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <form class="form-inline">
            <div class="form-group">
              <input id="mainSearchText" type="text" class="form-control" placeholder="(search)" aria-describedby="sizing-addon1">
            </div>
            <div class="form-group">
              <button id="mainSubmit" type="button" class="btn btn-dark">Attack</button>
            </div>
          </form>
        </div>
        <div class="col-md-4  order-first order-md-2">
          <div class="text-center"><span class="page-title"><a href="/"><%= site_title %></a></span></div>
        </div>
        <div class="col-md-4  order-first order-md-2">
          <div id="space_note" class="text-center">( <span class="text-monospace"><%= space %></span> or <a href="/" class="badge badge-dark">change</a> )</div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row" id="magnifying-glass"><div class="col-md-12">
        <div class="text-center">
          <img src="https://acro-lev-static-assets.s3.amazonaws.com/prod/images/magnifying.svg" alt="magnifying glass">
          <img src="https://acro-lev-static-assets.s3.amazonaws.com/prod/images/magnifying.svg" alt="magnifying glass">
          <img src="https://acro-lev-static-assets.s3.amazonaws.com/prod/images/magnifying.svg" alt="magnifying glass">
        </div>
      </div></div>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <tbody id="tableBodyContent"></tbody>
          </table>
        </div>
      </div>
    </div>

    <hr></hr>

    <% include partials/upFrontTable %>

  </body>
  <% include partials/script %>
  <script>var space = "<%= space %>";</script>
  <script src="https://acro-lev-static-assets.s3.amazonaws.com/prod/javascripts/view_space.js"></script>
</html>
