body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.page-title {
  font-weight: bold;
  font-size: x-large;
}

.margintop65 {
  margin-top: 65px;
}

#space_note {
  font-size: medium;
  margin-bottom: 5px;
}

#mainSearchText{
  width: 200px;
}

#magnifying-glass img {
  padding-top: 5px;
  width: 30px;
  height: 30px;
}

.table-noMarginBottom {
  margin-bottom: 0px;
}
